In [1]:
import keyring
import requests as rq
from io import BytesIO
import zipfile
import xmltodict
import json
import pandas as pd
from sqlalchemy import create_engine
import pymysql
from datetime import date
from dateutil.relativedelta import relativedelta
from tqdm import tqdm

In [180]:
ip = '3.38.150.43'
engine = create_engine('mysql+pymysql://jun:12345678@3.38.150.43:3306/quant')
con = pymysql.connect(user='jun',
                      passwd='12345678',
                      host='3.38.150.43',
                      db='quant',
                      charset='utf8')
mycursor = con.cursor()

In [10]:
sql_query = """
SELECT * FROM stock_price
"""

# con을 사용하여 데이터를 읽음
stock_price = pd.read_sql_query(sql_query, con)

/var/folders/c1/z5tw921j2td15y6sk95kpgn40000gn/T/ipykernel_67232/1839641211.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  stock_price = pd.read_sql_query(sql_query, con)

In [12]:
sql_query = """
SELECT * FROM kor_ticker
"""

# con을 사용하여 데이터를 읽음
kor_ticker = pd.read_sql_query(sql_query, con)

/var/folders/c1/z5tw921j2td15y6sk95kpgn40000gn/T/ipykernel_67232/3121586671.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  kor_ticker = pd.read_sql_query(sql_query, con)

In [13]:
sql_query = """
SELECT * FROM kor_sector
"""

# con을 사용하여 데이터를 읽음
kor_sector = pd.read_sql_query(sql_query, con)

/var/folders/c1/z5tw921j2td15y6sk95kpgn40000gn/T/ipykernel_67232/3365672102.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  kor_sector = pd.read_sql_query(sql_query, con)

In [14]:
sql_query = """
SELECT * FROM kor_value
"""

# con을 사용하여 데이터를 읽음
kor_value = pd.read_sql_query(sql_query, con)

/var/folders/c1/z5tw921j2td15y6sk95kpgn40000gn/T/ipykernel_67232/2379883202.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  kor_value = pd.read_sql_query(sql_query, con)

In [15]:
sql_query = """
SELECT * FROM fs_data
"""

# con을 사용하여 데이터를 읽음
fs_data = pd.read_sql_query(sql_query, con)

/var/folders/c1/z5tw921j2td15y6sk95kpgn40000gn/T/ipykernel_67232/1264720001.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  fs_data = pd.read_sql_query(sql_query, con)

kor_ticker
kor_sector
kor_value
stock_price
fs_data

In [21]:
len(fs_data['계정'].unique())

534

In [22]:
stock_price

,index,날짜,시가,고가,저가,종가,거래량,종목코드,종목명
0,0,2018-09-20,6810.0,7120.0,6670.0,7030.0,181397.0,095570,AJ네트웍스
1,1,2018-09-21,7110.0,7130.0,6270.0,6490.0,359049.0,095570,AJ네트웍스
2,2,2018-09-27,6600.0,6600.0,6220.0,6360.0,210740.0,095570,AJ네트웍스
3,3,2018-09-28,6530.0,6530.0,5980.0,6160.0,171325.0,095570,AJ네트웍스
4,4,2018-10-01,6160.0,6350.0,6050.0,6180.0,77744.0,095570,AJ네트웍스
...,...,...,...,...,...,...,...,...,...
2671740,1229,2023-09-14,6330.0,7170.0,6300.0,6610.0,240627.0,238490,힘스
2671741,1230,2023-09-15,6640.0,6670.0,6520.0,6610.0,28387.0,238490,힘스
2671742,1231,2023-09-18,6610.0,6610.0,6350.0,6400.0,29544.0,238490,힘스
2671743,1232,2023-09-19,6400.0,6460.0,6350.0,6370.0,9452.0,238490,힘스
2671744,1233,2023-09-20,6370.0,6430.0,6310.0,6370.0,13180.0,238490,힘스

In [26]:
kor_sector

      index IDX_CD  CMP_CD CMP_KOR SEC_NM_KOR        기준일
0         0    G25  005380     현대차    경기관련소비재 2023-09-18
1         1    G25  000270      기아    경기관련소비재 2023-09-18
2         2    G25  012330   현대모비스    경기관련소비재 2023-09-18
3         3    G25  051900  LG생활건강    경기관련소비재 2023-09-18
4         4    G25  090430  아모레퍼시픽    경기관련소비재 2023-09-18
...     ...    ...     ...     ...        ...        ...
2407    648    G45  065690     파커스         IT 2023-09-18
2408    649    G45  067730    로지시스         IT 2023-09-18
2409    650    G45  032960    동일기연         IT 2023-09-18
2410    651    G45  067770   세진티에스         IT 2023-09-18
2411    652    G45  033200     모아텍         IT 2023-09-18

[2412 rows x 6 columns]

1. stock_code 테이블에 kor_sector 테이블에 있는 SEC_NM_KOR 컬럼 추가  (조건 : stock_code 테이블에 '종목코드' 컬럼 == kor_sector 테이블에 'CMP_CD'컬럼)

In [44]:
sec_nm = kor_sector[['SEC_NM_KOR']]

In [50]:
merged_df

,index_x,날짜,시가,고가,저가,종가,거래량,종목코드,종목명,index_y,IDX_CD,CMP_CD,CMP_KOR,SEC_NM_KOR,기준일
0,0,2018-09-20,6810.0,7120.0,6670.0,7030.0,181397.0,095570,AJ네트웍스,241.0,G20,095570,AJ네트웍스,산업재,2023-09-18
1,1,2018-09-21,7110.0,7130.0,6270.0,6490.0,359049.0,095570,AJ네트웍스,241.0,G20,095570,AJ네트웍스,산업재,2023-09-18
2,2,2018-09-27,6600.0,6600.0,6220.0,6360.0,210740.0,095570,AJ네트웍스,241.0,G20,095570,AJ네트웍스,산업재,2023-09-18
3,3,2018-09-28,6530.0,6530.0,5980.0,6160.0,171325.0,095570,AJ네트웍스,241.0,G20,095570,AJ네트웍스,산업재,2023-09-18
4,4,2018-10-01,6160.0,6350.0,6050.0,6180.0,77744.0,095570,AJ네트웍스,241.0,G20,095570,AJ네트웍스,산업재,2023-09-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2671740,1229,2023-09-14,6330.0,7170.0,6300.0,6610.0,240627.0,238490,힘스,438.0,G45,238490,힘스,IT,2023-09-18
2671741,1230,2023-09-15,6640.0,6670.0,6520.0,6610.0,28387.0,238490,힘스,438.0,G45,238490,힘스,IT,2023-09-18
2671742,1231,2023-09-18,6610.0,6610.0,6350.0,6400.0,29544.0,238490,힘스,438.0,G45,238490,힘스,IT,2023-09-18
2671743,1232,2023-09-19,6400.0,6460.0,6350.0,6370.0,9452.0,238490,힘스,438.0,G45,238490,힘스,IT,2023-09-18
2671744,1233,2023-09-20,6370.0,6430.0,6310.0,6370.0,13180.0,238490,힘스,438.0,G45,238490,힘스,IT,2023-09-18

In [ ]:
update_stock =  merged_df[['날짜', '시가', '고가', '저가', '종가', '거래량', '종목코드', '종목명', 'SEC_NM_KOR']]

In [156]:
stock_price = update_stock.astype({'날짜': 'datetime64[ns]'})

In [157]:
stock_price

,날짜,시가,고가,저가,종가,거래량,종목코드,종목명,SEC_NM_KOR
0,2018-09-20,6810.0,7120.0,6670.0,7030.0,181397.0,095570,AJ네트웍스,산업재
1,2018-09-21,7110.0,7130.0,6270.0,6490.0,359049.0,095570,AJ네트웍스,산업재
2,2018-09-27,6600.0,6600.0,6220.0,6360.0,210740.0,095570,AJ네트웍스,산업재
3,2018-09-28,6530.0,6530.0,5980.0,6160.0,171325.0,095570,AJ네트웍스,산업재
4,2018-10-01,6160.0,6350.0,6050.0,6180.0,77744.0,095570,AJ네트웍스,산업재
...,...,...,...,...,...,...,...,...,...
2671740,2023-09-14,6330.0,7170.0,6300.0,6610.0,240627.0,238490,힘스,IT
2671741,2023-09-15,6640.0,6670.0,6520.0,6610.0,28387.0,238490,힘스,IT
2671742,2023-09-18,6610.0,6610.0,6350.0,6400.0,29544.0,238490,힘스,IT
2671743,2023-09-19,6400.0,6460.0,6350.0,6370.0,9452.0,238490,힘스,IT
2671744,2023-09-20,6370.0,6430.0,6310.0,6370.0,13180.0,238490,힘스,IT

2. fs_data에서 갖고올 데이터 : 매출액, 당기순이익, 영업이익, 세전계속사업이익, 유동자산, 비유동자산, 유동부채, 비유동부채, 자본

In [65]:
fs_columns_list = ['매출액', '당기순이익', '영업이익', '세전계속사업이익', '유동자산', '비유동자산', '유동부채', '비유동부채', '자본']

In [67]:
filtered_fs_data = fs_data[fs_data['계정'].isin(fs_columns_list)]

In [70]:
filtered_fs_data

         index        계정         기준일       값    종목코드 공시구분
0            0       매출액  2020-12-31  8720.0  095570    y
9           10      영업이익  2020-12-31   211.0  095570    y
31          33  세전계속사업이익  2020-12-31  -185.0  095570    y
35          37     당기순이익  2020-12-31   -33.0  095570    y
39          41      유동자산  2020-12-31  3547.0  095570    y
...        ...       ...         ...     ...     ...  ...
1803656    390      유동자산  2023-06-30   482.0  238490    q
1803664    398     비유동자산  2023-06-30   551.0  238490    q
1803674    408      유동부채  2023-06-30   374.0  238490    q
1803681    416     비유동부채  2023-06-30    18.0  238490    q
1803685    420        자본  2023-06-30   640.0  238490    q

[144942 rows x 6 columns]

In [116]:
pivot_fs_data = pd.pivot_table(filtered_fs_data, index=['종목코드','기준일'], columns='계정', values=['값'])

In [122]:
pivot_fs_data['값']

계정                 당기순이익     매출액   비유동부채    비유동자산  세전계속사업이익   영업이익     유동부채  \
종목코드   기준일
000020 2020-12-31  287.0  2721.0   236.0   2111.0     336.0  232.0    675.0
       2021-12-31  196.0  2930.0   212.0   2276.0     265.0  225.0    665.0
       2022-09-30   68.0   835.0   226.0   2364.0      95.0   74.0    739.0
       2022-12-31  120.5  2124.5    69.0   2336.0     100.5  166.0    756.0
       2023-03-31  129.0   994.0    82.0   2413.0     169.0  122.0    818.0
...                  ...     ...     ...      ...       ...    ...      ...
453340 2023-06-30  208.0  5205.0   119.0   4765.0     285.0  279.0   1832.0
456040 2023-06-30  150.0  3442.0  1040.0   9588.0     185.0  152.0   9311.0
457190 2023-06-30   23.0   295.0   106.0   1250.0      29.0   38.0    999.0
460850 2023-06-30   31.0  1876.0   639.0   9807.0      40.0   56.0   7775.0
460860 2023-06-30  390.0  4305.0  3338.0  21185.0     514.0  515.0  16470.0

계정                    유동자산       자본
종목코드   기준일
000020 2020-12-31   2227.0   3427.0
       2021-12-31   2202.0   3601.0
       2022-09-30   2321.0   3720.0
       2022-12-31   2275.0   3787.0
       2023-03-31   2357.0   3870.0
...                    ...      ...
453340 2023-06-30   3526.0   6340.0
456040 2023-06-30  10287.0   9524.0
457190 2023-06-30    887.0   1033.0
460850 2023-06-30   8226.0   9619.0
460860 2023-06-30  14927.0  16304.0

[14016 rows x 9 columns]

In [111]:
# filter_pivot_df = filtered_fs_data[filtered_fs_data['종목코드']== '000020'].pivot_table(index=['기준일'], columns='계정', values=['값'])
filter_pivot_df = filtered_fs_data.pivot_table(index=['종목코드','기준일'], columns='계정', values=['값'])

In [123]:
norm_df = pivot_fs_data['값'].reset_index()

In [150]:
norm_df = norm_df.astype({'기준일': 'datetime64[ns]'})

In [158]:
fs_data_year = norm_df[norm_df['기준일'].dt.month == 12]

In [159]:
fs_data_year

계정,종목코드,기준일,당기순이익,매출액,비유동부채,비유동자산,세전계속사업이익,영업이익,유동부채,유동자산,자본
0,000020,2020-12-31,287.0,2721.0,236.0,2111.0,336.0,232.0,675.0,2227.0,3427.0
1,000020,2021-12-31,196.0,2930.0,212.0,2276.0,265.0,225.0,665.0,2202.0,3601.0
3,000020,2022-12-31,120.5,2124.5,69.0,2336.0,100.5,166.0,756.0,2275.0,3787.0
6,000040,2020-12-31,-115.0,1178.0,219.0,949.0,-114.0,12.0,841.0,610.0,498.0
7,000040,2021-12-31,-119.0,1335.0,227.0,988.0,-119.0,-27.0,955.0,697.0,502.0
...,...,...,...,...,...,...,...,...,...,...,...
13997,445680,2022-12-31,-115.0,72.0,19.0,347.0,-113.0,-114.0,28.0,139.0,439.0
13999,446070,2022-12-31,10.0,292.0,34.0,769.0,18.0,14.0,181.0,1367.0,1921.0
14002,448710,2020-12-31,14.0,247.0,NaN,34.0,16.0,13.0,77.0,215.0,172.0
14003,448710,2021-12-31,23.0,319.0,10.0,49.0,27.0,27.0,135.0,258.0,162.0
14004,448710,2022-12-31,23.0,418.0,9.0,51.0,28.0,28.0,173.0,292.0,161.0

In [160]:
stock_price

,날짜,시가,고가,저가,종가,거래량,종목코드,종목명,SEC_NM_KOR
0,2018-09-20,6810.0,7120.0,6670.0,7030.0,181397.0,095570,AJ네트웍스,산업재
1,2018-09-21,7110.0,7130.0,6270.0,6490.0,359049.0,095570,AJ네트웍스,산업재
2,2018-09-27,6600.0,6600.0,6220.0,6360.0,210740.0,095570,AJ네트웍스,산업재
3,2018-09-28,6530.0,6530.0,5980.0,6160.0,171325.0,095570,AJ네트웍스,산업재
4,2018-10-01,6160.0,6350.0,6050.0,6180.0,77744.0,095570,AJ네트웍스,산업재
...,...,...,...,...,...,...,...,...,...
2671740,2023-09-14,6330.0,7170.0,6300.0,6610.0,240627.0,238490,힘스,IT
2671741,2023-09-15,6640.0,6670.0,6520.0,6610.0,28387.0,238490,힘스,IT
2671742,2023-09-18,6610.0,6610.0,6350.0,6400.0,29544.0,238490,힘스,IT
2671743,2023-09-19,6400.0,6460.0,6350.0,6370.0,9452.0,238490,힘스,IT
2671744,2023-09-20,6370.0,6430.0,6310.0,6370.0,13180.0,238490,힘스,IT

In [163]:
fs_data_year

계정,종목코드,기준일,당기순이익,매출액,비유동부채,비유동자산,세전계속사업이익,영업이익,유동부채,유동자산,자본,연도
0,000020,2020-12-31,287.0,2721.0,236.0,2111.0,336.0,232.0,675.0,2227.0,3427.0,2020
1,000020,2021-12-31,196.0,2930.0,212.0,2276.0,265.0,225.0,665.0,2202.0,3601.0,2021
3,000020,2022-12-31,120.5,2124.5,69.0,2336.0,100.5,166.0,756.0,2275.0,3787.0,2022
6,000040,2020-12-31,-115.0,1178.0,219.0,949.0,-114.0,12.0,841.0,610.0,498.0,2020
7,000040,2021-12-31,-119.0,1335.0,227.0,988.0,-119.0,-27.0,955.0,697.0,502.0,2021
...,...,...,...,...,...,...,...,...,...,...,...,...
13997,445680,2022-12-31,-115.0,72.0,19.0,347.0,-113.0,-114.0,28.0,139.0,439.0,2022
13999,446070,2022-12-31,10.0,292.0,34.0,769.0,18.0,14.0,181.0,1367.0,1921.0,2022
14002,448710,2020-12-31,14.0,247.0,NaN,34.0,16.0,13.0,77.0,215.0,172.0,2020
14003,448710,2021-12-31,23.0,319.0,10.0,49.0,27.0,27.0,135.0,258.0,162.0,2021
14004,448710,2022-12-31,23.0,418.0,9.0,51.0,28.0,28.0,173.0,292.0,161.0,2022

In [172]:

# # stock_price와 fs_data_year의 연도 추출
# stock_price['연도'] = pd.to_datetime(stock_price['날짜']).dt.year
# fs_data_year['연도'] = fs_data_year['기준일'].dt.year

# stock_price의 연도를 1년 뒤로 이동
stock_price['연도'] += 1

# 연도가 일치하고 종목코드가 일치하는 경우에만 병합
merged_data = stock_price.merge(
    fs_data_year,
    left_on=['종목코드', '연도'],
    right_on=['종목코드', '연도'],
    how='inner'
)

In [176]:
merged_data = merged_data[[
    '날짜', '시가', '고가', '저가', '종가', '거래량', '종목코드', '종목명', 'SEC_NM_KOR',
    '기준일', '당기순이익', '매출액', '비유동부채', '비유동자산', '세전계속사업이익', '영업이익', '유동부채', '유동자산', '자본'
]]

In [178]:
df = merged_data

In [181]:
df.to_sql(name="df", con=engine, index=True, if_exists='append')

1501317